@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
  background-color: #050505;
  /*  */
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  color: white;
  min-height: 100vh;
  padding-bottom:10px; /* leave space for footer */
}

/* Optional: smooth hover */
a, button {
  transition: all 0.3s ease-in-out;
}
