.glass-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin: 20px;
  background: linear-gradient(135deg, rgba(176, 73, 73, 0.3), rgba(45, 51, 130, 0.3));
  backdrop-filter: blur(12px);
  border-radius: 20px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(130, 128, 128, 0.223);
}

.glass-navbar h2 {
  font-size: 1.8rem;
}

.glass-navbar ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.glass-navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.glass-navbar a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background:linear-gradient(135deg, #ab51c9, #5395a2);
  transition: 0.3s ease;
}

.glass-navbar a:hover::after {
  width: 100%;
}
