/* src/pages/about/About.css */
.about-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
}
img{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
    border: 2px solid #9d9d9d;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 0 25px rgba(136, 83, 179, 0.497);
    
}

.about-card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 2.5rem 2rem;
  max-width: 600px;
  width: 100%;
  color: white;
  animation: fadeIn 0.5s ease;
  box-shadow: 0 0 25px rgba(245, 245, 245, 0.12);
}

.about-card h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #c887cc9e;
}

.about-card h3 {
  margin-top: 2rem;
  color: #7e3e94;
}

.about-card p {
  line-height: 1.7;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #e0e0e0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .about-card {
    padding: 2rem 1.5rem;
  }

  .about-card h1 {
    font-size: 1.5rem;
  }
}
