.bookmark-btn {
  margin-top: 10px;
  border: 1px solid #fff;
  background: linear-gradient(135deg, #c9516f, #535da2);
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s transform 0.3s;
}
.bookmark-btn:hover {
  background: linear-gradient(135deg, #535da2, #c9516f);
  color: white;
  transform: scale(1.05);
}

.note-input {
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}
.bookmarks-page{
  padding: 20px 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  max-width: 600vw;
  height: 100vh;
  margin: 15px ;
  overflow-y: auto;
  scrollbar-width: none;
}
/* Small devices (phones) */
@media (max-width: 768px) {
  .bookmarks-page {
    padding: 10px;
    margin: 10px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}



